@tailwind components;
@tailwind utilities;
@tailwind screens;
/* CUSTOM */

@layer utilities {
	@variants responsive {
		.tw-flex-important {
			display: flex !important;
		}
		.tw-block-important {
			display: block !important;
		}
	}
}

/* ARCGIS */

@layer base {
	.search-card {
		padding-top: 0;
	}
	.custom-header .dropdown:hover {
		background: theme("colors.primary");
	}
	.custom-header .dropdown-menu {
		background: inherit;
		box-shadow: 2px 2px 8px rgb(0 0 0 / 20%);
		font-size: inherit;
	}
	.custom-header .navbar {
		background-color: theme("colors.secondary");
	}
	@media only screen and (min-width: 768px) {
		.custom-header .dropdown-hover:hover .dropdown-menu {
			display: block;
		}
	}
	a:hover {
		outline: none !important;
	}
}

/* TABLES */

@layer base {
	.tw-table {
		@apply tw-w-full;
	}
	.tw-table th {
		@apply tw-px-6 tw-py-3 tw-border-b tw-border-gray-100 tw-border-solid tw-text-left tw-font-bold;
		color: theme('colors.primary');
	}
	.tw-table td {
		@apply tw-px-6 tw-py-2 tw-border-b tw-border-gray-100 tw-border-solid;
	}
}

/* LINKS */

@layer base {
	.tw-cool-links a {
		display: inline-block;
		margin: auto;
		text-decoration: none;
		color: inherit;
		position: relative;
		transition: all .3s cubic-bezier(.2, 0, 0, 1);
		z-index: 1;
	}
	.tw-cool-links a:after {
		content: '';
		display: block;
		height: 1px;
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		background-color: theme('colors.primary');
		transition: all .3s cubic-bezier(.2, 0, 0, 1);
		transform-origin: bottom center;
		z-index: -1;
	}
	.tw-cool-links a:hover {
		color: theme('colors.white');
		;
	}
	.tw-cool-links a:hover:after {
		right: 0;
		left: 0;
		height: 100%;
	}
	.tw-cool-links-red a:hover {
		color: theme('colors.primary');
	}
	.tw-cool-links-red a:after {
		background-color: theme('colors.white');
	}
}

/* BUTTONS */

@layer base {
	.tw-button {
		display: inline-flex;
		position: relative;
		overflow: hidden;
		padding: 10px 15px;
		text-decoration: none !important;
	}
	.tw-button:hover {
		text-decoration: none !important;
	}
	.tw-button::before, .tw-button::after {
		width: 100%;
		height: 5px;
		left: 0;
	}
	.tw-button::before {
		top: 0;
	}
	.tw-button::after {
		bottom: 0;
	}
	.tw-button .tw-button-label {
		color: #2c2b82;
	}
	.tw-button .tw-button-label::before, .tw-button .tw-button-label::after {
		width: 5px;
		height: 100%;
		top: 0;
	}
	.tw-button .tw-button-label::before {
		left: 0;
	}
	.tw-button .tw-button-label::after {
		right: 0;
	}
	.tw-button::before, .tw-button::after, .tw-button .tw-button-label::before, .tw-button .tw-button-label::after {
		content: "";
		background-color: #000;
		position: absolute;
		opacity: 1;
		will-change: transform, opacity;
		transition-property: transform, opacity;
		transition-duration: .2s;
		transition-timing-function: ease-out;
		transform: translate3d(0, 0, 0);
	}
	.tw-button:hover::before, .tw-button:hover::after, .tw-button:hover .tw-button-label::before, .tw-button:hover .tw-button-label::after {
		opacity: 0;
	}
	.tw-button:hover::before, .tw-button:hover .tw-button-label::before {
		transition-delay: 0s;
	}
	.tw-button::after, .tw-button:hover .tw-button-label::after {
		transition-delay: .25s;
	}
	.tw-button .tw-button-label::after, .tw-button:hover::after {
		transition-delay: .15s;
	}
	.tw-button .tw-button-label::before, .tw-button:hover::before {
		transition-delay: .35s;
	}
	.tw-button:hover::before {
		transform: translate3d(-105%, 0, 0);
	}
	.tw-button:hover::after {
		transform: translate3d(105%, 0, 0);
	}
	.tw-button:hover .tw-button-label::before {
		transform: translate3d(0, 105%, 0);
	}
	.tw-button:hover .tw-button-label::after {
		transform: translate3d(0, -105%, 0);
	}
	.tw-button-red .tw-button-label {
		color: #c4001f;
	}
	.tw-button-red::before, .tw-button-red::after, .tw-button-red .tw-button-label::before, .tw-button-red .tw-button-label::after {
		background-color: #c4001f;
	}
	.tw-button-blue .tw-button-label {
		color: #2c2b82;
	}
	.tw-button-blue::before, .tw-button-blue::after, .tw-button-blue .tw-button-label::before, .tw-button-blue .tw-button-label::after {
		background-color: #2c2b82;
	}
}
